/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face { font-family: Diavlo; font-weight: normal; src: url(../fonts/diavlo_book.otf); }
@font-face { font-family: Diavlo; font-weight: bold; src: url(../fonts/diavlo_bold.otf); }

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:normal;font-style:normal;text-align:left;font-family:inherit;}table{border-collapse:collapse;border-spacing:0;}ol,ul{list-style:none;}q:before,q:after,blockquote:before,blockquote:after{content:"";}

html {
  background: #4c4c4c url(../images/bg.gif) repeat-x;
}

body {
  background: 50% 0px url(../images/contentbg.png) no-repeat;
  color: #fff;
  font-family: Diavlo, Tahoma, Arial, Verdana;
  font-size: 13px;
}

h1 {
  font-size: 24px;
  font-weight: normal;
}

h2 {
  font-size: 20px;
  font-weight: normal;
}
#logOffButton{
	float:right;
	right:20px;
	font-size:12px;
}
#LogOffImage{
	float:right;
	
}
div#activity {
  float: right;
  margin: 40px 0 0 50px;
}

div#activity li{
  width: 400px;
}


div#container { 
  margin: 0 auto;
  width: 960px;
}

div#content {
  height: 500px;
  margin: 0 auto;
  padding: 90px 0 0 0;
  width: 780px;
}

div#logo {
  left: -20px;
  margin: 0 auto 0;
  position: relative;
  top: 40px;
  width: 168px;
}

div.menu {
  float: left;
  margin: 40px 0 0 0;
}

div.menu img.icon {
  margin: 0 2px 0 0;
  position: relative;
  top: 2px;
}

div.menu ul {
}

div.menu ul li {
  -moz-box-shadow: 0px 0px 20px #222;
  -webkit-box-shadow: 0px 0px 20px #222;
  box-shadow: 0px 0px 20px #222;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 10px;
  width: 280px;
}

div.menu ul li.blue {
  background: #1696a5 url(../images/bluebg.gif) repeat-x;
}

div.menu ul li.green {
  background: #1fa711 url(../images/greenbg.gif) repeat-x;
}

div.menu ul li.grey {
  background: #515151 url(../images/greybg.gif) repeat-x;
}

div.menu ul li.red {
  background: #e01616 url(../images/redbg.gif) repeat-x;
}

div.menu ul li.silver {
  background: #d4d4d4 url(../images/silverbg.gif) repeat-x;
  color: #4b4b4b;
}

div.menu ul li.yellow {
  background: #d3cd1d url(../images/yellowbg.gif) repeat-x;
}

div.menu ul li ul {
  display: none;
  margin: 8px 0 0 0;
}

div.menu ul li ul li {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 12px;
  width: 200px;
}

.menu a{
  color:#ffffff;
  text-decoration:none;
}

.menu a:visited{
  color:#ffffff;
  text-decoration:none;
}

div#news {
  padding: 20px 0 0 0;
}

div#news h2 {
  margin: 0 0 15px 0;
}

div#news div.date {
  float: left;
  font-size: 11px;
  font-weight: bold;
  margin: 0px 5px 5px 5px;
}

div#news div.newscontent {
  font-size: 11px;
  font-family:Tahoma, Arial, Diavlo;
  margin-bottom:10px;
}
.newsitem{
  border:2px #585656 solid;
  padding: 10px;
  min-height:70px;
  margin: 10px;
  background-color: #484848;
  font-size:12px;
}
.date p{
  border:2px #585656 solid;
  padding:10px;
  background-color: #6A6A6A;
  font-size:12px;
  margin-right:5px;
  text-shadow: 0px 0px 5px #000;
}

.newscontent p{
 margin-top:2px;
 padding-left:10px;
 line-height:150%;
 text-align:justify;
}
